body{
    background-color: coral;
}

h1{
    text-align: center;
    margin-right: 60px;
    margin-top: 300px;
    font-size: xxx-large
}

h2{
    font-size: xx-large
}

form{
    text-align: center;
    margin-right: 60px;
}

input[type=submit] {
    margin-top: 30px;
    padding:5px 15px;
    background:#ccc;
    border:black 5px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}